.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
*.html
Rplot*
*~
*.csv
*.rds
~*
*.pdf
*.db
*.docx
*.tiff
graphs/*
*.xlsx
*.dat
PredictedModel.model
.ipynb_checkpoints/predictive_model-checkpoint.py
